<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <rd-widget>
                <rd-widget-header icon="fa-tasks" title="Incoming Patients">
                    <a href="#">Update Status</a>
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>ETA</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Blood Group</th>
                                    <th>Go To Profile</th>
                                </tr>
                                <tr ng-hide="isAdmitted" data-ng-repeat="request in sosRequests track by $index">
                                    <td>20 mins</td>
                                    <td>{{request.user.name}}</td>
                                    <td>{{request.user.userDetails.age}}</td>
                                    <td>{{request.user.userDetails.gender}}</td>
                                    <td>{{request.user.userDetails.bloodGroup}}</td>
                                    <td><a ui-sref="">See Profile</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </rd-widget-body>
                <rd-widget-footer>
                    <ul class="pagination pagination-sm pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </rd-widget-footer>
            </rd-widget>
        </div>
        <div class="col-lg-6">
            <rd-widget>
                <rd-widget-header icon="fa-tasks" title="Admitted Patients">
                    <a href="#">Assign</a>
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Ward Number</th>
                                    <th>Go To Profile</th>
                                </tr>
                                <tr ng-show="isAdmitted" data-ng-repeat="request in sosRequests track by $index">
                                    <td>{{request.user.name}}</td>
                                    <td>{{request.user.userDetails.age}}</td>
                                    <td>{{request.user.userDetails.gender}}</td>
                                    <td>5</td>
                                    <td><a ui-sref="">See Profile</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </rd-widget-body>
                <rd-widget-footer>
                    <ul class="pagination pagination-sm pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </rd-widget-footer>
            </rd-widget>
        </div>
    </div>
</div>
