<div class="row">
    <div class="col-md-12 toppad">
        <div class="row">
            <div class="col-md-3 col-lg-3"> 
                <img alt="User Pic" ng-src={{currentUser.user.userAvatar}} image-404="../assets/img/avatarmm.png" class="img-rounded img-responsive text-center"> 
                <br/>
                <div>
                    <h5><i class="fa fa-mobile"></i> {{currentUser.user.phoneNumber}}</h5>
                    
                    <b ng-if="currentUser.emergencyData">Emergency</b>
                    <h5>{{currentUser.emergencyData.emergencyType}}</h5>
                    <h5 ng-class="findCriticalState(currentUser.emergencyData.emergencyState)">{{currentUser.emergencyData.emergencyState}}</h5>
                </div>
                
            </div>

            <div class=" col-md-9 col-lg-9 ">
                <table class="table table-condensed table-hover table-user-information">
                    <tbody>
                        <tr><th colspan="3">Personal Details</th></tr>
                        <tr ng-repeat="(key, value) in currentUser.user.userDetails">
                            <td ng-if="ifValidKey(key)" style="text-transform:capitalize;">{{key  | camelCaseToHuman}}</td>
                            <td colspan="2" ng-if="ifValidKey(key)">{{value}}</td>
                        </tr>
                        
                        <tr><th colspan="3">Medical Details</th></tr>
                        <tr ng-repeat="(key, value) in currentUser.user.medicalDetails">
                            <td colspan="2" ng-if="ifValidKey(key) && value" style="text-transform:capitalize;">{{key  | camelCaseToHuman}}</td>
                            <td ng-if="ifValidKey(key) && value">{{value}}</td>
                        </tr>
                        
                        <tr ng-if="currentUser.user.emergencyContacts && currentUser.user.emergencyContacts.length > 0">
                            <th colspan="3">Emergency Details</th>
                        </tr>
                        <tr ng-repeat="contact in currentUser.user.emergencyContacts">
                            <td>{{contact.name}}</td>
                            <td>{{contact.contactRelation}}</td>
                            <td><i class="fa fa-mobile"></i> {{contact.phoneNumber}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>