<div class="container-fluid">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{currentUser.user.name}} <span class="pull-right">Booking ID: {{currentUser.id}}</span></h4>
                </div>
                <div class="modal-body" ng-include="'userProfile/profileModal.html'">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon green pull-left">
                        <i class="fa fa-users"></i>
                    </div>

                    <div class="title">{{availablePatients}}</div>
                    <div class="comment">Patients</div>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon red pull-left">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="title">{{availableDoctors}}</div>
                    <div class="comment">Doctors</div>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon orange pull-left">
                        <i class="fa fa-bed"></i>
                    </div>
                    <div class="title">{{availableBeds}}</div>
                    <div class="comment">Beds</div>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon blue pull-left">
                        <i class="fa fa-ambulance"></i>
                    </div>
                    <div class="title">{{incomingRequests.length}}</div>
                    <div class="comment">Incoming Emergency</div>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div id="map"></div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <rd-widget>
                <rd-widget-header icon="fa-stethoscope" title="Patients on the way!!"> </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Blood Group</th>
                                    <th>ETA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="(bookingId, patient) in incomingPatients track by $index" data-toggle="modal" data-target="#myModal" ng-click="showModal(patient)">
                                    <td>{{patient.user.name}}</td>
                                    <td>{{patient.user.userDetails.age}}</td>
                                    <td>{{patient.user.userDetails.gender}}</td>
                                    <td>{{patient.user.userDetails.bloodGroup}}</td>
                                    <td>{{patient.route.totalDuration | humanSeconds}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <rd-widget>
                <rd-widget-header icon="fa-tasks" title="Admitted Patients"></rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Ward Number</th>
                                </tr>
                            </thead>
                            <tbody>                                
                                <tr data-ng-repeat="(bookingId, patient) in admittedPatients track by $index" data-toggle="modal" data-target="#myModal" ng-click="showModal(patient)">
                                    <td>{{patient.user.name}}</td>
                                    <td>{{patient.user.userDetails.age}}</td>
                                    <td>{{patient.user.userDetails.gender}}</td>
                                    <td>{{patient.ward}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </rd-widget-body>

            </rd-widget>
        </div>
    </div>


</div>