<!doctype html>
<html lang="en" ng-app="LoginAuthApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ambuhelp - Hospital Dashboard</title>
    <meta name="description" content="Dashboard Site for Ambuhlep Hospital">
    <meta name="author" content="Saurabh Dutta">
    <meta name="author" content="Nitin kandwal">
    
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">

    <!-- STYLES -->
    <!-- build:css lib/css/main.min.css -->
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
    <link rel="stylesheet" type="text/css" href="components/ngToast/dist/ngToast.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/profileModal.css">
    <!-- endbuild -->

    <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script type="text/javascript" src="components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="components/angular-resource/angular-resource.min.js"></script>
    
    
    
    <script type="text/javascript" src="components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="components/ngToast/dist/ngToast.min.js"></script>
    
    
    
    <!--Local Server Dependencies-->
    <!--<script src="http://localhost:3000/cdn/lb-services.js"></script>-->
    
    <!--LB Services-->
    <script type="text/javascript" src="https://ambuhelp-server.mybluemix.net/cdn/lb-services.js"></script>
    
    <!--Google Map Dependencies-->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyD44OsWMZ9QMd8Z-3cg67_uhJhJeVfxRQE"></script>
    

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body id="loginPage" ng-controller="authController" ng-init="login={};">

    <div class="container">
        <h1 class="text-white pull-right">Ambuhelp Hospital Client</h1>
        <div class="col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-3">
            <div id="loginformPanel">
                <h4 class="page-header">Log in your account</h4>
                <form role="form" id="login-form" autocomplete="off" ng-submit="doLogin();">
                    <div class="form-group">
                        <label for="username" class="sr-only">Email</label>
                        <input type="text" ng-model="login.username" name="username" id="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" ng-model="login.password" name="password" id="password" class="form-control" placeholder="Password">
                    </div>
                    <p class="text-center text-danger" data-ng-if="lgnFailedMsg">
                        <br/> {{lgnFailedMsg}}
                        <br/>
                    </p>

                    <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">

                    <p class="text-center text-primary" ng-show="loginInProgress">
                        <br/><br/>
                        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    </p>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="app/authapp.js"></script>

</body>

</html>
