<!doctype html>
<html lang="en" ng-app="ambuhelpHospitalApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dashboard Site for Ambuhlep Hospital">
    <meta name="author" content="Saurabh Dutta">
    <meta name="author" content="Nitin Kandwal">

    <title>Ambuhelp - Hospital Dashboard</title>
    
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon">


    <!-- STYLES build:css lib/css/main.min.css -->
    <link rel="stylesheet" type="text/css" href="../components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../components/rdash-ui/dist/css/rdash.css">
    <link rel="stylesheet" type="text/css" href="../components/AngularJS-Toaster/toaster.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/hospital.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/profileModal.css">
    <!-- endbuild -->

    <script type="text/javascript" src="../components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="../components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="../components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="../components/angular-animate/angular-animate.min.js"></script>
    
    <!--BoostStrap and Jquery -->
    <script type="text/javascript" src="../components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    
    <!-- External Dependencies -->

    <!--Socket IO dependencies-->
    <script src="http://ambuhelp-server.mybluemix.net/socket.io/socket.io.js"></script>
    <script src="../components/angular-socket-io/socket.min.js"></script>

    <script type="text/javascript" src="../components/AngularJS-Toaster/toaster.min.js"></script>
    <script type="text/javascript" src="../components/angular-audio/app/angular.audio.js"></script>
    <script type="text/javascript" src="../components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../components/angularjs-camelCase-human/camelcase-browser.js"></script>
    <script type="text/javascript" src="../assets/js/profileModalJS.js"></script>
    <script type="text/javascript" src="../components/angular-translate/angular-translate.min.js"></script>
    <script type="text/javascript" src="../components/angular-humanSeconds/angular-humanSeconds.min.js"></script>
    <script type="text/javascript" src="../components/angular-image-404/dist/angular-image-404.min.js"></script>
    
    <!--Local Server Dependencies-->
    <!--<script src="http://localhost:3000/cdn/lb-services.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>-->
    
    <!--LB Services -->
    <script type="text/javascript" src="https://ambuhelp-server.mybluemix.net/cdn/lb-services.js"></script>
    
    <!-- External Google map script -->
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyD44OsWMZ9QMd8Z-3cg67_uhJhJeVfxRQE&libraries=geometry"></script>
    
    
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body ng-controller="MasterCtrl">
    <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar">
                <li class="sidebar-main">
                    <a ng-click="toggleSidebar()">
                    WELCOME!!
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
                </li>
                <li class="sidebar-title"><span>NAVIGATION</span></li>
                <li class="sidebar-list">
                    <a ui-sref="home">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
                </li>
                <!--<li class="sidebar-list">
                    <a ui-sref="patient">Patient Info <span class="menu-icon fa fa-heartbeat"></span></a>
                </li>-->
                <li class="sidebar-list">
                    <a ui-sref="contact">Profile<span class="menu-icon fa fa-id-card-o"></span></a>
                </li>
            </ul>
        </div>
        <!-- End Sidebar -->

        <div id="content-wrapper">
            <div class="page-content">

                <!-- Header Bar -->
                <div class="row header">
                    <div class="col-xs-12">
                        <div class="user pull-right">
                            <div class="item dropdown dropdown-toggle" uib-dropdown uib-dropdown-toggle>

                                <i class="fa fa-user-o"></i>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        <h4>{{hospitalDetails.name}}</h4>
                                    </li>
                                    <li class="link">
                                        <a ui-sref="contact"><i class="fa fa-id-card-o fa-fw"></i> Profile</a>
                                    </li>
                                    <li class="link"><a ng-click="logout()"><i class="fa fa-power-off fa-fw"></i> Logout</a></li>
                                </ul>
                            </div>
                            <!--<div class="item dropdown" uib-dropdown>
                                <i class="fa fa-bell-o" ><span class="badge">{{sosRequests.length}}</span></i>
                            </div>-->
                        </div>
                        <div class="meta">
                            <div class="page">
                                <h4 class="center-block col-lg-6">{{hospitalDetails.name}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Bar -->

                <!-- Main Content -->

                <div ui-view></div>

            </div>
            <!-- End Page Content -->
        </div>
        <!-- End Content Wrapper -->
    </div>
    <!-- End Page Wrapper -->

    <!-- App Script Files -->

    <script type="text/javascript" src="../app/app.js"></script>
    <script type="text/javascript" src="../app/rdash-directive.js"></script>
    <script type="text/javascript" src="../app/socket-util.js"></script>
    <script type="text/javascript" src="../app/mapServices.js"></script>
    <script type="text/javascript" src="home/homeController.js"></script>
    <script type="text/javascript" src="patient/patientController.js"></script>
    <script type="text/javascript" src="contact/contactController.js"></script>
    <script type="text/javascript" src="doctors/docController.js"></script>
    <script type="text/javascript" src="userProfile/profileController.js"></script>

</body>

</html>
