.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#toast-container>div{
    opacity: 1 !important;
    width: 500px;
}

.text-white {
    color: white;
}

.notification-label{
    display: inline-block;
    width:100px;
}

.notification-text{
    padding: 0 10px 0 10px;
}


#map {
    height:650px;
    border: 1px solid #dcdcdc;
}
.link {
}

.dropdown-header {
    border-bottom: 1px solid #ccc;
}
