
#loginPage {
    background: url('../img/backgroundImage.jpg') no-repeat center center fixed;
    background-size: cover;
}

#loginformPanel {
    padding: 1px 20px 20px 20px;
    background-color: white;
    margin-top: 150px;
}


/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */

.form-control {
    color: #212121;
}

.btn-custom {
    color: #fff;
    background-color: #1fa67b;
}

.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

.text-white {
    color: white;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

