<div class="container-fluid">
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header icon="fa-stethoscope" title="Available Doctors">

            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr data-ng-repeat="doctor in doctors">
                                <td>{{doctor.name}}</td>
                                <td>{{doctor.from}} - {{doctor.to}}</td>
                                <td>{{doctor.Specialty}}</td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </rd-widget-body>
        </rd-widget>
    </div>

</div>
