<div class="container-fluid">


    <div class="col-md-6 col-sm-12" data-ng-hide="editDetails">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Current Details</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Name : </dt>
                    <dd>{{hospitalDetails.name}}</dd>
                    <dt>Category :</dt>
                    <dd>{{hospitalDetails.category}}</dd>
                    <dt>Address :</dt>
                    <dd>{{hospitalDetails.address}}</dd>
                    <dt>State :</dt>
                    <dd>{{hospitalDetails.state}}</dd>
                    <dt>City :</dt>
                    <dd>{{hospitalDetails.city}}</dd>
                    <dt>Country :</dt>
                    <dd>{{hospitalDetails.country}}</dd>
                </dl>
            </div>
            <div class="panel-footer">
                <button type="submit " name="Edit Details " id="submit " class="btn btn-primary " ng-click="enableEditing() ">Edit Details</button>
            </div>
        </div>


    </div>


    <div class="col-md-6 col-sm-12" data-ng-show="editDetails">
        <form name="form1 " ng-submit="saveDetails() ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Contact Details</h3>
                </div>
                <div class="panel-body">

                    <div class="form-group ">

                        <dl class="dl-horizontal ">
                            <dt>Name : </dt>
                            <dd>
                                <textarea class="form-control " ng-model="hospitalDetails.name " name="name " rows="1 " cols="10 " wrap="hard " placeholder="Enter Hospital Name "> </textarea>
                            </dd>

                            <dt>Category :</dt>
                            <dd>
                                <textarea class="form-control " ng-model="hospitalDetails.category " rows="1 " cols="10 " wrap="hard " name="category " placeholder="Enter Hospital Category "></textarea>
                            </dd>

                            <dt>Address :</dt>
                            <dd>
                                <textarea class="form-control " ng-model="hospitalDetails.address " rows="1 " cols="10 " wrap="hard "="address " placeholder="Enter Hospital Address "></textarea>
                            </dd>

                            <dt>City :</dt>
                            <dd>
                                <textarea class="form-control " ng-model="hospitalDetails.city " rows="1 " cols="10 " wrap="hard " name="city " placeholder="Enter Hospital City "></textarea>
                            </dd>

                            <dt>State :</dt>
                            <dd>
                                <textarea class="form-control " ng-model="hospitalDetails.state " rows="1 " cols="10 " wrap="hard " name="state " placeholder="Enter Hospital Sate "></textarea>
                            </dd>

                            <dt>Country :</dt>
                            <dd>
                                <textarea class="form-control " ng-model="hospitalDetails.country " rows="1 " cols="10 " wrap="hard " name="country " placeholder="Enter Hospital Country "></textarea>
                            </dd>
                        </dl>
                    </div>


                </div>
                <div class="panel-footer">
                    <button type="submit" name="submit " id="submitButton " class="btn btn-success ">Submit</button>
                    <button type="button" name="cancel " id="cancelButton " ng-click="cancleEdit() " class="btn btn-danger ">Cancel</button>
                </div>
        </form>
        </div>

    </div>

    <div class="col-md-6 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Map Details</h3>
            </div>
            <div class="panel-body" >
                <div id="map" style="height:350px;"></div>

            </div>
        </div>

    </div>




</div>