<div class="media">
    <div class="media-left">
        <img width="60" height="60" class="media-object img-thumbnail" ng-src="{{toaster.data.user.userAvatar}}" image-404="../assets/img/avatarmm.png">
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{toaster.data.user.name}}</h4>
        <h4 class="media-heading">Booking ID: {{toaster.data.id}}</h4>
    </div>
</div>