<div>
    <h4 class="media-heading">Booking ID: {{toaster.data.id}}</h4>
    <div class="media">
        <div class="media-left">
            <img width="80" height="80" class="media-object img-thumbnail" ng-src="{{toaster.data.user.userAvatar}}" image-404="../assets/img/avatarmm.png">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{toaster.data.user.name}}<small class="pull-right label label-primary">ETA: {{toaster.data.route.totalDuration | humanSeconds}}</small></h4>

            <p><span class="notification-label">Age</span>:<span class="notification-text">{{toaster.data.user.userDetails.age}}</span></p>
            <p><span class="notification-label">Blood Group</span>:<span class="notification-text">{{toaster.data.user.userDetails.bloodGroup}}</span></p>
        </div>
    </div>
</div>